MODE=mode
SECRET_KEY='secret_key'
CNAME='web'
DB_HOSTNAME='db'
DB_USERNAME='iqps_admin'
DB_PASSWORD='DB_PWD'
STATIC_ROOT='/var/www/static'
GDRIVE_DIRNAME='iqps_static'
LOG_PATH='/var/log/iqps/iqps.log'
LOGIN_REQUIRED=True