@import url(//fonts.googleapis.com/css?family=Inter);

html, body{
    height: 100%;
    background-color: rgb(245, 245, 245);
    font-family: 'Inter';
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.form-group form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color:#5eff9d;
    
    border-color: #d9d8d8;
    border-width: 0px;
    border-style: solid;

    padding-left: 14px;
    padding-right: 14px;
    padding-top: 36px;
    padding-bottom: 35px;
    
}

.submit-btn{
    margin-top: 20px;
    margin-bottom: 17px;
    background-color: #0062cc;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
    border-color: #0062cc;
    outline: 0;
}

label, small, .errorlist{
    font-family: Monospace;
    color: black;
    padding-top: 12px;
    padding-bottom: 18px;

    list-style-type: none;
}

.errorlist li:before{
    content: "❌    ";
}

input{
    border-radius: 0%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding-bottom: 12px;
}

.helptext{
    display: none;
}


.captcha{
    width: max-content;
    margin: auto;
}

.header {
      text-align: center;
    }
.stext {
    text-align: center;
}