{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'assets/formpage.css' %}">
{% endblock %}

{% block content %}
	{% include 'navbar.html' %}
    <div class="form-group">
	<h2 class="header">Register in iQPS</h2>

	<form method="POST">
	    {% csrf_token %}
	    {{ form }}
	    <button type="submit" class="submit-btn">Register</button>
	    <small class="stext">Already have an account? <a href="/accounts/login/">Login</a>
	</form>
    </div>
{% endblock %}
